.container {
  height: 100vh;
  position: relative;
  video {
    width: 100%;
    object-fit: scale-down;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 99;
    &::backdrop {
      background: transparent;
    }
    &::-webkit-media-controls {
      display: none !important;
    }
  }
}

.top {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  background-color: #66b8ec;
  z-index: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: #bcdaa9;
  z-index: 0;
}
